#!/bin/bash

declare -A distros_target     # hash table

# distros [NAME] = diskbuilder target element
distros_target[centos7]="centos7"
distros_target[ubuntu]="ubuntu"
distros_target[ubuntuxenial]="ubuntu"
distros_target[fedora]="fedora"
distros_target[debianJessie]="debian"
distros_target[rstudio]="rstudio ubuntu"
distros_target[zeppelin]="zeppelin ubuntu"
